@font-face {
    font-family:'Red Hat Display';
    src: url(../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    font-family: 'Red Hat Display';
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('../../assets/icons/pattern-background-desktop.svg');
    background-repeat: repeat-x;
    background-color: var(--pale-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


main {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section {
    margin: 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5;
    gap: 1rem;
}

#title {
    font-size: 2rem;
    font-weight: 900;
    color: var(--dark-blue);
}

#paragraph {
    color: var(--desaturated-blue);
}

.payment-choice {
    width: calc(100% - 4rem);
    background-color: var(--very-pale-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    border-radius: 1rem;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
}

.left-icon {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#annual-plan {
    font-weight: 900;
    color: var(--dark-blue);
    margin-bottom: 0.5rem;
}


#price {
    font-weight: 700;
    color: var(--desaturated-blue);
}

#change-plan-link {
    color: var(--bright-blue);
    font-weight: 800;
}

#change-plan-link:hover {
    text-decoration: none;
    opacity: 70%;
}

#payment-link {
    width: calc(100% - 4rem);
    font-size: 1rem;
    font-weight: 900;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: white;
    background-color: var(--bright-blue);
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    box-shadow: rgb(56, 41, 224, 0.1) 0px 2px 1px, rgb(56, 41, 224, 0.1) 0px 4px 2px, rgb(56, 41, 224, 0.1) 0px 8px 4px, rgb(56, 41, 224, 0.1) 0px 16px 8px, rgb(56, 41, 224, 0.1) 0px 32px 16px;
}

#payment-link:hover {
    opacity: 70%;
}

#cancel {
    color: var(--desaturated-blue);
    font-weight: 900;
    text-decoration: none;
    padding-bottom: 3rem;
}

#cancel:hover {
    color: var(--dark-blue);
}

@media (max-width: 425px) {
    body {
        background-image: url('../../assets/icons/pattern-background-mobile.svg');
    }

    main {
        margin: 0 1.5rem;
    }

    #title {
        font-size: 1.5rem;
    }

    .payment-choice {
        gap: 1rem;
    }

    .payment-choice {
        font-size: 1rem;
    }
}
